[package]

name = "git2"
version = "0.6.3"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
keywords = ["git"]
repository = "https://github.com/alexcrichton/git2-rs"
homepage = "https://github.com/alexcrichton/git2-rs"
documentation = "http://alexcrichton.com/git2-rs"
description = """
Bindings to libgit2 for interoperating with git repositories. This library is
both threadsafe and memory safe and allows both reading and writing git
repositories.
"""

[dependencies]
url = "1.0"
bitflags = "0.7"
libc = "0.2"
libgit2-sys = { path = "libgit2-sys", version = "0.6.4" }

[target."cfg(all(unix, not(target_os = \"macos\")))".dependencies]
openssl-sys = { version = "0.9.0", optional = true }
openssl-probe = { version = "0.1", optional = true }

[dev-dependencies]
docopt = "0.6"
rustc-serialize = "0.3"
time = "0.1"
tempdir = "0.3"

[features]
unstable = []
default = ["ssh", "https", "curl"]
ssh = ["libgit2-sys/ssh"]
https = ["libgit2-sys/https", "openssl-sys", "openssl-probe"]
curl = ["libgit2-sys/curl"]

[workspace]
members = ["systest", "git2-curl"]
